<div class="jumbotron">
  <h4>Hi <%= currentUser.name %> 🎭. Review your collection 📱</h4>
  <a href="/">&larr; Back Home</a>
  <br><br><br><br><br>
</div>

<h1><%= playlist.title %> <small>by <%= playlist.user.getName() %></small></h1>

<p>
  <strong><%= moment(playlist.createdAt).calendar() %></strong>
</p>

<p><%= playlist.content %></p>


<hr />


<a href="/">&larr; Back Home</a>
<br><br>


<% playlist.comments.forEach ((comment) => { %>
  <div class="well">
    <p>
      <%= comment.content %> - <%= comment.name %>
    </p>  
  </div>
<% }) %>


<hr />


<h2> Comment:</h2>

<form method="POST" action="/playlists/<%= playlist.id%>/comments">
  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" id="title" type="text" name="name">
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <input type="text" class="form-control" id="content" name="content" required>
  </div>

  <input type="submit" class="btn btn-primary" value="Post">
</form>

